$basic-white: #ffffff;
$basic-black: #000000;
$basic-grey: #f2f2f2;
$basic-blue: #242be5;

$special-grey: #eaeaea;
$special-dark-grey: #444444;

$mine-shaft: #222222;
$mercury: #e6e6e6;
$alto: #d2d7db;
$silver: #cdcdcd;
$special-silver: #bababa;
$gallery: #ebebeb;
$apple: #5eaa2f;
$vivid-tangerine: #ff8282;
$dove-gray: #666666;
$deep-blue: #182353;

$status-error: #ff8282;
$main-theme: #68b738;

$default-font: "ProximaNova", "Arial", sans-serif;
$custom-font: "ProximaNova", "Arial", sans-serif;

$base-font-size: 14px;
$medium-font-size: 18px;
$large-font-size: 30px;

$transition-time: 200ms;

$tablet-width: 768px;
$desktop-width: 992px;

:root {
  --basic-white: #ffffff;
  --special-grey: #eaeaea;
  --basic-grey: #f2f2f2;
}
